@import "compass";
@import "breakpoint";
@import "susy";
.content{
  .sidebar{
    width: 20%;
    float: left;
    ul{
      list-style: none;
      li{
        a{
          color: #64B5F6;
          &:hover{
            color: #90CAF9;
          }
        }
      }
    }
  }
  .main{
    width: 70%;
    float: left;
  }
}

.article{
  padding: 10px;
  margin-bottom: 15px;
  .article-verview{
    text-indent: 2em;
  }
}
