
script(type="text/javascript" src="http://cdn.staticfile.org/webfont/1.3.0/webfont.min.js")
script
  :coffee
    WebFont.load(
      timeout: 2000
      google:
        families: ['Voltaire']
        text: '1234567890abcdedfghijklmopqrstuvwxyz@'
    )

